@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300&display=swap');

* {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h4, h5, h6 {
    text-transform: capitalize;
}
