name: Build

on: [push, pull_request]

jobs:
    build:
        runs-on: ubuntu-latest
        strategy:
            matrix:
                python-version: ["3.10"]
        steps:
            - uses: actions/checkout@v2

            - name: Set up Python ${{ matrix.python-version }}
              uses: actions/setup-python@v2
              with:
                  python-version: ${{ matrix.python-version }}

            - name: Install dependencies
              run: |
                  sudo apt-get install -y python3-pygame
                  python -m pip install --upgrade pip
                  pip install -r requirements.txt

            - name: Analysing the code with pylint
              run: pylint $(git ls-files '*.py')

            - name: Run test file
              run: python test.py
